/* --- Variables --- */
:root {

    /* --- Primary --- */

    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    
    /* --- Neutral --- */

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

/* --- Geral ---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--Light-grayish-blue);
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding: 30px 0;
}


/* --- Grid Areas --- */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    width:95vw;
    max-width: 1100px;
 
    gap: 1rem;
    /* border: 1px solid green;  */

    grid-template-areas: 
    "d d j k"
    "a p p k"
    ;
}

.daniel {
    grid-area: d;
    background-color: var(--Moderate-violet);
    
}

.jeanette {
    grid-area: a;
    background-color: var(--White);
    
}

.jonathan {
    grid-area: j;
    background-color: var(--Very-dark-grayish-blue);
}

.patrick {
    grid-area: p;
    background-color: var(--Very-dark-blackish-blue);
   
}

.kira {
    grid-area: k;
    background-color: var(--White);

}

/* --- All Cards-- */
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.profile .personal-photo {
    width: 35px;
    border-radius: 50%;
}

.profile span {
    font-weight: 500;
    color: hsl(0, 0%, 81%, 50%);
}

.quote {
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1rem 0;
}

.daniel .personal-photo,
.patrick .personal-photo {
    border: 2px solid hsl(263, 90%, 69%);
}
/* ---man--- */
.man {
    padding: 2rem;
    border-radius: 1rem;
}

.man .profile h3 {
    color: var(--Light-gray);
    font-weight: 500;
}

.man .quote {
    color: var(--Light-grayish-blue);
}

.man .description {
    color: hsl(0, 0%, 81%, 70%);
    font-weight: 500;
}

/* ---woman--- */
.women {
    padding: 2rem;
    border-radius: 1rem;
}

.women .profile h3 {
    color: var(--Very-dark-grayish-blue);
    font-family: 500;
}

.women .profile span {
    color: hsl(219, 29%, 14%, 50%)
}

.women .quote {
    color: var(--Very-dark-blackish-blue);
}

.women .description {
    color: hsl(219, 29%, 14%, 0.5);
}

/* ---Responsivo--- */

@media (max-width: 990px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: 
        "k k k k k k"
        "d d d d a a"
        "p p p p j j";  
    }


}

@media (max-width: 740px) {
    .grid {
        display: flex;
        flex-direction: column;

        width: 90vw;
    }
} 